.header {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px 0px;
}

.header h3 {
  color: #fff;
}

.content {
  background-image: url("../assets/glassesImage/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.img-left {
  position: relative;
  padding: 0%;
}
.img-left img {
  width: 100%;
}

.img-right {
  padding: 0%;
}

.img-right img {
  width: 100%;
}

.img-item img:hover {
  border: 1px solid black;
  cursor: pointer;
}

.img-item img {
  width: 15%;
  margin: 0px 10px;
}

.img-change {
  position: absolute;
  top: 105px;
  left: 82px;
}

.img-change img {
  width: 165px;
  opacity: 0.5;
}

.img-item {
  background-color: #fff;
  margin-top: 50px;
}

.content-change {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 0, 0.6);
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
}

.content-change h3 {
  text-align: left;
  font-weight: 700;
}

.content-change p {
  text-align: left;
  font-size: 16px;
}
